.main-thanks {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.thanks-text {
    height: auto;
    width: 50%;
    font-size: 25px;
}